# Python
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc
.env
**/uploads/*
!**/uploads/.gitkeep

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
